NODE_ENV=development
PORT=5000
HALLMARK_PUBLIC_KEY_PATH=keys/hallmark.pub
HALLMARK_PRIVATE_KEY_PATH=
PAYPAL_INVOICE_URL=https://www.paypal.com/invoice/p/#ZPNJPM4ZE9YESBHY
GITHUB_TOKEN=
SEED_DEPLOY_KEY=
SEED_HMAC_SECRET=
